# Installation instructions with Conda:
# conda create -n tf
# CONDA_OVERRIDE_CUDA="11.8" conda install -c conda-forge tensorflow-gpu=>2.13
# conda install -c conda-forge faiss-gpu
# pip install -r requirements.txt

matplotlib~=3.7
opencv-python~=4.8.1
tqdm~=4.66.0
tensorflow-datasets~=4.9.2
tensorflow_hub~=0.15.0
pandas~=2.0.3
